
@import "variables";
@import "reset";
@import "footer";
@import "header";
@import "statistics";
@import "open";
@import "benefits";
@import "pricing";
@import "contact"; 



.container {
    
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    min-height: 1px;
    width: $column-base-width;
    padding: 12px;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: $column-base-width * $i;
    }
}
